@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	width: 100vw;
	height: 100vh;
	background: url('image/bg.jpg') center/cover no-repeat;
	color: #000000;
	font-family: sans-serif;
	font-size: 16pt;
}

body>.wrap {
	overflow: hidden;
	position: relative;
	background: radial-gradient(circle,#FFFE,#FFFC 50%,transparent);
}

*::-webkit-scrollbar {
	width: 16px;
	position: absolute;
}

*::-webkit-scrollbar-thumb {
	background-color: #FFFC;
	border-radius: 6px;
	border: transparent #000 4px;
}

.button {
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #0008;
	color: #FFF;
}

#show-menu {
	position: fixed;
	display: none;
	bottom: 10px;
	left: 10px;
	z-index: 5;
}

#menu {
	width: 400px;
	height: 100%;
	position: relative;
	z-index: 50;
	transition: all 300ms;
	color: #FFFFFF;
}

#menu>.wrap {
	position: absolute;
	left: 0;
	top: -50px;
	width: 400px;
	height: calc(100% + 100px);
	padding: 80px 80px 80px 30px;
	background: #000C;
	border-top-right-radius: 100px 50%;
	border-bottom-right-radius: 100px 50%;
	box-shadow: #000E 3px 3px 8px;
	transition: all 300ms;
}

#menu #logo {
	width: 100%;
}

#menu #logo>img {
	width: 100%;
}

#menu #typelist {
	font-size: 1em;
	line-height: 2em;
}

#menu #author {
	text-align: center;
	font-family: monospace;
	color: #CCC;
	font-size: .5em;
	line-height: 1.5em;
}

#content {
	position: relative;
}

#content>.wrap {
	overflow-y: auto;
	padding: 2vw;
}

#content #context {
	flex-wrap: wrap;
	justify-content: space-around;
}

#content #context .preview {
	width: 320px;
	height: 180px;
	margin: 20px 10px;
	border-radius: 4px;
	box-shadow: #000A 2px 2px 4px;
	overflow: hidden;
	position: relative;
}

#content #context .preview:hover {
	cursor: pointer;
}

#content #context .preview>.image {
	position: absolute;
	width: 100%;
	height: 100%;
}

#content #context .preview>.iframe-trigger {
	position: absolute;
	width: 100%;
	height: 100%;
}

#content #context .preview>a.link {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

#content #video {
	position: absolute;
	width: 96%;
	height: 96%;
	top: 2%;
	left: 2%;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: #000A 4px 4px 8px;
}

#content #video #close {
	font-family: monospace;
	display: none;
	position: absolute;
	top: 70px;
	right: 15px;
}

#content #video:hover #close {
	display: block;
	cursor: pointer;
}

#content #video #close:hover {
	display: block;
}